<h1>Modifier etudiant</h1>
<form action="http://127.0.0.1:8000/studentupdated/{{id}}" method="post">
	<label for="name">Email</label>
	<input type="text" name="email" id="id"/>
	<input type="submit" value="Modifier"/>
</form>
